* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}
.wf-loading * {
  visibility: hidden;
}
.hidden {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
}
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
p,
pre,
ul,
ol,
dl,
hr,
legend,
address,
table,
blockquote {
  margin-bottom: 1em;
}
body {
  background-color: #fff;
}
ol,
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-position: outside;
  margin-left: 2em;
  line-height: 1.54;
}
li ol,
li ul {
  margin-bottom: 0;
}
ul li {
  list-style-type: circle;
}
ul li li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
ol li li {
  list-style-type: decimal;
}
nav ul,
nav ol {
  margin-bottom: 0;
}
nav li {
  list-style: none;
  margin-left: 0;
}
fieldset {
  border: none;
}
label {
  display: block;
}
img {
  border: 0;
}
img,
object {
  vertical-align: bottom;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
pre code {
  display: block;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  background-color: #ddd;
}
::-moz-selection {
  color: #fff;
  background: #4dc1b3;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #4dc1b3;
  text-shadow: none;
}
body {
  font-family: 'Lato', 'Trebuchet MS', 'Helvetica Light', 'Helvetica', sans-serif;
  line-height: 1.4;
  font-weight: normal;
  color: #666;
  font-size: 16px;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  position: relative;
  margin: 0 0 30px;
  font-weight: 400;
  line-height: 1;
  color: #666;
}
.h1:after,
.h2:after,
.h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1.7em;
  height: 4px;
  background-color: #4dc1b3;
}
.h1--light,
.h2--light,
.h3--light,
.content-block--dark .content-block__title,
.content-block--primary .content-block__title {
  color: #fff;
}
.h1--light:after,
.h2--light:after,
.h3--light:after,
.content-block--dark .content-block__title:after,
.content-block--primary .content-block__title:after {
  background-color: #fff;
}
h1,
.h1 {
  padding-bottom: 0.5em;
  font-size: 2.375em;
  margin-top: 60px;
}
h2,
.h2 {
  padding-bottom: 0.7em;
  font-size: 1.5em;
}
h3,
.h3 {
  padding-bottom: 0.8em;
  font-size: 1.125em;
}
p {
  font-weight: 300;
}
.centering > p {
  font-size: 1.1875em;
}
.no-bottom {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #82d4ca;
}
a:focus,
a:hover {
  text-decoration: underline;
}
a:active {
  color: #82d4ca;
}
button {
  cursor: pointer;
  font-family: inherit;
}
blockquote,
q,
em,
dfn,
i,
cite,
var {
  font-style: italic;
}
th,
strong,
dt,
b {
  font-weight: 700;
}
legend {
  padding-bottom: 0.5em;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
}
blockquote {
  font-size: 1.125em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #828282;
}
blockquote p {
  margin-bottom: 0;
}
ins {
  text-decoration: none;
  border-bottom: 3px double;
}
del,
s {
  text-decoration: line-through;
}
u {
  text-decoration: underline;
}
mark {
  background-color: #f0d929;
  color: #222;
  margin-left: -2px;
  margin-right: -2px;
  padding-left: 2px;
  padding-right: 2px;
}
pre,
code {
  font-family: 'Menlo', 'Monaco', monospace;
}
address {
  font-style: normal;
}
abbr {
  border-bottom: 1px dotted;
}
small {
  font-size: 0.8em;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.centering {
  margin: 0 auto;
  max-width: 1108px;
  padding: 0 20px;
}
.centering:before,
.centering:after {
  content: "";
  display: table;
}
.centering:after {
  clear: both;
}
.grid {
  margin-left: -2.5em;
}
.grid__item {
  padding-left: 2.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
.one-whole {
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.333333333333336%;
}
.two-thirds {
  width: 66.66666666666667%;
}
.one-quarter {
  width: 25%;
}
.two-quarters {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.one-fifth {
  width: 20%;
}
.two-fifths {
  width: 40%;
}
.three-fifths {
  width: 60%;
}
.four-fifths {
  width: 80%;
}
.one-sixth {
  width: 16.666666666666668%;
}
.two-sixths {
  width: 33.333333333333336%;
}
.three-sixths {
  width: 50%;
}
.four-sixths {
  width: 66.66666666666667%;
}
.five-sixths {
  width: 83.33333333333334%;
}
.grid--gutterless {
  margin-left: 0px;
}
.grid--gutterless > .grid__item {
  padding-left: 0px;
}
.mobile-one-whole {
  width: 100%;
}
.mobile-one-half {
  width: 50%;
}
.mobile-one-third {
  width: 33.333333333333336%;
}
.mobile-two-thirds {
  width: 66.66666666666667%;
}
.mobile-one-quarter {
  width: 25%;
}
.mobile-two-quarters {
  width: 50%;
}
.mobile-three-quarters {
  width: 75%;
}
.tablet-one-whole {
  width: 100%;
}
.tablet-one-half {
  width: 50%;
}
.tablet-one-third {
  width: 33.333333333333336%;
}
.tablet-two-thirds {
  width: 66.66666666666667%;
}
.tablet-one-quarter {
  width: 25%;
}
.tablet-two-quarters {
  width: 50%;
}
.tablet-three-quarters {
  width: 75%;
}
.tablet-one-fifth {
  width: 20%;
}
.tablet-two-fifths {
  width: 40%;
}
.tablet-three-fifths {
  width: 60%;
}
.tablet-four-fifths {
  width: 80%;
}
.grid--centered {
  text-align: center;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.control--text,
.control--choice,
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #f5f5f0;
  line-height: 32px;
  -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.2s ease;
  transition: border-color 0.1s ease, box-shadow 0.2s ease;
  font-family: inherit;
  font-size: 0.9375em;
  font-weight: 700;
  color: #666;
}
.control--text:focus,
.control--choice:focus,
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #e2e2d3;
  outline: 0;
}
.control--text,
.contact-form input,
.contact-form textarea {
  -webkit-appearance: none;
}
.control--choice {
  height: 32px;
}
.control--multilined {
  resize: vertical;
  height: auto;
}
.control--field {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}
.notification {
  margin-left: 0;
  list-style: none;
  border-left: 10px solid #666;
  background: #f5f5f0;
}
.notification-open .notification {
  height: 60px;
}
.notification .notification__content {
  padding: 0.75em;
}
.notification p,
.notification ul,
.notification ol,
.notification dl {
  margin-bottom: 0;
  margin-top: 0.25em;
}
.notification p:first-child,
.notification ul:first-child,
.notification ol:first-child,
.notification dl:first-child {
  margin-top: 0;
}
.notification--large {
  padding: 1.5em;
}
.notification--large p,
.notification--large ul,
.notification--large ol,
.notification--large dl {
  margin-top: 0.5em;
}
.notification--notice {
  border-left-color: #4c98c0;
  background: #c9e0ec;
}
.notification--warning {
  border-left-color: #d88e3f;
  background: #f3ddc5;
}
.notification--error {
  border-left-color: #c14d4d;
  background: #eccaca;
}
.notification--success {
  border-left-color: #a4c04d;
  background: #e4ecca;
}
.notification__title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.2em;
}
.notification-list .notification {
  margin-bottom: 5px;
}
.notification-list--collapsed .notification {
  margin-bottom: 0;
}
.notification--close {
  position: absolute;
  padding: 6px 8px;
  right: 20px;
  top: 50%;
  margin-top: -13px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.7em;
  font-family: Arial, sans-serif;
  line-height: 1;
  color: #555;
}
.notification--close:hover {
  color: #888;
}
.no-js .notification--close {
  display: none;
}
.field {
  margin-bottom: 0.5em;
}
.field__question {
  display: block;
  margin-bottom: 0.5em;
}
.field__answer {
  margin-bottom: 0.5em;
}
.field__answer-list {
  margin-bottom: 0.5em;
}
.field__answer-list li {
  list-style: none;
  margin-left: 0;
}
.field__text {
  margin-bottom: 0.5em;
}
.field__text p,
.field__text ul,
.field__text ol,
.field__text dl {
  margin-bottom: 0.5em;
}
.field__text--assistance {
  color: #777;
  font-size: 0.8em;
}
.field__text--feedback--success {
  color: #a4c04d;
}
.field__text--feedback--error {
  color: #c14d4d;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
}
th,
td {
  vertical-align: top;
}
.td--img {
  vertical-align: middle;
  text-align: center;
}
.td--img img {
  max-width: 80%;
}
th {
  padding: 20px;
  text-align: left;
  border-bottom: 2px solid #4d4d4d;
}
td {
  padding: 8px 20px;
  border-bottom: 1px solid #666;
}
@font-face {
  font-family: 'wv-icons';
  src: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/fonts/wv-icons.eot?-x95pdv");
  src: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/fonts/wv-icons.eot?#iefix-x95pdv") format('embedded-opentype'), url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/fonts/wv-icons.woff?-x95pdv") format('woff'), url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/fonts/wv-icons.ttf?-x95pdv") format('truetype'), url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/fonts/wv-icons.svg?-x95pdv#wv-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon--"],
[class*=" icon--"] {
  font-family: 'wv-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--home:before {
  content: "\e900";
}
.icon--home2:before {
  content: "\e901";
}
.icon--home3:before {
  content: "\e902";
}
.icon--office:before {
  content: "\e903";
}
.icon--newspaper:before {
  content: "\e904";
}
.icon--pencil:before {
  content: "\e905";
}
.icon--pencil2:before {
  content: "\e906";
}
.icon--quill:before {
  content: "\e907";
}
.icon--pen:before {
  content: "\e908";
}
.icon--blog:before {
  content: "\e909";
}
.icon--eyedropper:before {
  content: "\e90a";
}
.icon--droplet:before {
  content: "\e90b";
}
.icon--paint-format:before {
  content: "\e90c";
}
.icon--image:before {
  content: "\e90d";
}
.icon--images:before {
  content: "\e90e";
}
.icon--camera:before {
  content: "\e90f";
}
.icon--headphones:before {
  content: "\e910";
}
.icon--music:before {
  content: "\e911";
}
.icon--play:before {
  content: "\e912";
}
.icon--film:before {
  content: "\e913";
}
.icon--video-camera:before {
  content: "\e914";
}
.icon--dice:before {
  content: "\e915";
}
.icon--pacman:before {
  content: "\e916";
}
.icon--spades:before {
  content: "\e917";
}
.icon--clubs:before {
  content: "\e918";
}
.icon--diamonds:before {
  content: "\e919";
}
.icon--bullhorn:before {
  content: "\e91a";
}
.icon--connection:before {
  content: "\e91b";
}
.icon--podcast:before {
  content: "\e91c";
}
.icon--feed:before {
  content: "\e91d";
}
.icon--mic:before {
  content: "\e91e";
}
.icon--book:before {
  content: "\e91f";
}
.icon--books:before {
  content: "\e920";
}
.icon--library:before {
  content: "\e921";
}
.icon--file-text:before {
  content: "\e922";
}
.icon--profile:before {
  content: "\e923";
}
.icon--file-empty:before {
  content: "\e924";
}
.icon--files-empty:before {
  content: "\e925";
}
.icon--file-text2:before {
  content: "\e926";
}
.icon--file-picture:before {
  content: "\e927";
}
.icon--file-music:before {
  content: "\e928";
}
.icon--file-play:before {
  content: "\e929";
}
.icon--file-video:before {
  content: "\e92a";
}
.icon--file-zip:before {
  content: "\e92b";
}
.icon--copy:before {
  content: "\e92c";
}
.icon--paste:before {
  content: "\e92d";
}
.icon--stack:before {
  content: "\e92e";
}
.icon--folder:before {
  content: "\e92f";
}
.icon--folder-open:before {
  content: "\e930";
}
.icon--folder-plus:before {
  content: "\e931";
}
.icon--folder-minus:before {
  content: "\e932";
}
.icon--folder-download:before {
  content: "\e933";
}
.icon--folder-upload:before {
  content: "\e934";
}
.icon--price-tag:before {
  content: "\e935";
}
.icon--price-tags:before {
  content: "\e936";
}
.icon--barcode:before {
  content: "\e937";
}
.icon--qrcode:before {
  content: "\e938";
}
.icon--ticket:before {
  content: "\e939";
}
.icon--cart:before {
  content: "\e93a";
}
.icon--coin-dollar:before {
  content: "\e93b";
}
.icon--coin-euro:before {
  content: "\e93c";
}
.icon--coin-pound:before {
  content: "\e93d";
}
.icon--coin-yen:before {
  content: "\e93e";
}
.icon--credit-card:before {
  content: "\e93f";
}
.icon--calculator:before {
  content: "\e940";
}
.icon--lifebuoy:before {
  content: "\e941";
}
.icon--phone:before {
  content: "\e942";
}
.icon--phone-hang-up:before {
  content: "\e943";
}
.icon--address-book:before {
  content: "\e944";
}
.icon--envelop:before {
  content: "\e945";
}
.icon--pushpin:before {
  content: "\e946";
}
.icon--location:before {
  content: "\e947";
}
.icon--location2:before {
  content: "\e948";
}
.icon--compass:before {
  content: "\e949";
}
.icon--compass2:before {
  content: "\e94a";
}
.icon--map:before {
  content: "\e94b";
}
.icon--map2:before {
  content: "\e94c";
}
.icon--history:before {
  content: "\e94d";
}
.icon--clock:before {
  content: "\e94e";
}
.icon--clock2:before {
  content: "\e94f";
}
.icon--alarm:before {
  content: "\e950";
}
.icon--bell:before {
  content: "\e951";
}
.icon--stopwatch:before {
  content: "\e952";
}
.icon--calendar:before {
  content: "\e953";
}
.icon--printer:before {
  content: "\e954";
}
.icon--keyboard:before {
  content: "\e955";
}
.icon--display:before {
  content: "\e956";
}
.icon--laptop:before {
  content: "\e957";
}
.icon--mobile:before {
  content: "\e958";
}
.icon--mobile2:before {
  content: "\e959";
}
.icon--tablet:before {
  content: "\e95a";
}
.icon--tv:before {
  content: "\e95b";
}
.icon--drawer:before {
  content: "\e95c";
}
.icon--drawer2:before {
  content: "\e95d";
}
.icon--box-add:before {
  content: "\e95e";
}
.icon--box-remove:before {
  content: "\e95f";
}
.icon--download:before {
  content: "\e960";
}
.icon--upload:before {
  content: "\e961";
}
.icon--floppy-disk:before {
  content: "\e962";
}
.icon--drive:before {
  content: "\e963";
}
.icon--database:before {
  content: "\e964";
}
.icon--undo:before {
  content: "\e965";
}
.icon--redo:before {
  content: "\e966";
}
.icon--undo2:before {
  content: "\e967";
}
.icon--redo2:before {
  content: "\e968";
}
.icon--forward:before {
  content: "\e969";
}
.icon--reply:before {
  content: "\e96a";
}
.icon--bubble:before {
  content: "\e96b";
}
.icon--bubbles:before {
  content: "\e96c";
}
.icon--bubbles2:before {
  content: "\e96d";
}
.icon--bubble2:before {
  content: "\e96e";
}
.icon--bubbles3:before {
  content: "\e96f";
}
.icon--bubbles4:before {
  content: "\e970";
}
.icon--user:before {
  content: "\e971";
}
.icon--users:before {
  content: "\e972";
}
.icon--user-plus:before {
  content: "\e973";
}
.icon--user-minus:before {
  content: "\e974";
}
.icon--user-check:before {
  content: "\e975";
}
.icon--user-tie:before {
  content: "\e976";
}
.icon--quotes-left:before {
  content: "\e977";
}
.icon--quotes-right:before {
  content: "\e978";
}
.icon--hour-glass:before {
  content: "\e979";
}
.icon--spinner:before {
  content: "\e97a";
}
.icon--spinner2:before {
  content: "\e97b";
}
.icon--spinner3:before {
  content: "\e97c";
}
.icon--spinner4:before {
  content: "\e97d";
}
.icon--spinner5:before {
  content: "\e97e";
}
.icon--spinner6:before {
  content: "\e97f";
}
.icon--spinner7:before {
  content: "\e980";
}
.icon--spinner8:before {
  content: "\e981";
}
.icon--spinner9:before {
  content: "\e982";
}
.icon--spinner10:before {
  content: "\e983";
}
.icon--spinner11:before {
  content: "\e984";
}
.icon--binoculars:before {
  content: "\e985";
}
.icon--search:before {
  content: "\e986";
}
.icon--zoom-in:before {
  content: "\e987";
}
.icon--zoom-out:before {
  content: "\e988";
}
.icon--enlarge:before {
  content: "\e989";
}
.icon--shrink:before {
  content: "\e98a";
}
.icon--enlarge2:before {
  content: "\e98b";
}
.icon--shrink2:before {
  content: "\e98c";
}
.icon--key:before {
  content: "\e98d";
}
.icon--key2:before {
  content: "\e98e";
}
.icon--lock:before {
  content: "\e98f";
}
.icon--unlocked:before {
  content: "\e990";
}
.icon--wrench:before {
  content: "\e991";
}
.icon--equalizer:before {
  content: "\e992";
}
.icon--equalizer2:before {
  content: "\e993";
}
.icon--cog:before {
  content: "\e994";
}
.icon--cogs:before {
  content: "\e995";
}
.icon--hammer:before {
  content: "\e996";
}
.icon--magic-wand:before {
  content: "\e997";
}
.icon--aid-kit:before {
  content: "\e998";
}
.icon--bug:before {
  content: "\e999";
}
.icon--pie-chart:before {
  content: "\e99a";
}
.icon--stats-dots:before {
  content: "\e99b";
}
.icon--stats-bars:before {
  content: "\e99c";
}
.icon--stats-bars2:before {
  content: "\e99d";
}
.icon--trophy:before {
  content: "\e99e";
}
.icon--gift:before {
  content: "\e99f";
}
.icon--glass:before {
  content: "\e9a0";
}
.icon--glass2:before {
  content: "\e9a1";
}
.icon--mug:before {
  content: "\e9a2";
}
.icon--spoon-knife:before {
  content: "\e9a3";
}
.icon--leaf:before {
  content: "\e9a4";
}
.icon--rocket:before {
  content: "\e9a5";
}
.icon--meter:before {
  content: "\e9a6";
}
.icon--meter2:before {
  content: "\e9a7";
}
.icon--hammer2:before {
  content: "\e9a8";
}
.icon--fire:before {
  content: "\e9a9";
}
.icon--lab:before {
  content: "\e9aa";
}
.icon--magnet:before {
  content: "\e9ab";
}
.icon--bin:before {
  content: "\e9ac";
}
.icon--bin2:before {
  content: "\e9ad";
}
.icon--briefcase:before {
  content: "\e9ae";
}
.icon--airplane:before {
  content: "\e9af";
}
.icon--truck:before {
  content: "\e9b0";
}
.icon--road:before {
  content: "\e9b1";
}
.icon--accessibility:before {
  content: "\e9b2";
}
.icon--target:before {
  content: "\e9b3";
}
.icon--shield:before {
  content: "\e9b4";
}
.icon--power:before {
  content: "\e9b5";
}
.icon--switch:before {
  content: "\e9b6";
}
.icon--power-cord:before {
  content: "\e9b7";
}
.icon--clipboard:before {
  content: "\e9b8";
}
.icon--list-numbered:before {
  content: "\e9b9";
}
.icon--list:before {
  content: "\e9ba";
}
.icon--list2:before {
  content: "\e9bb";
}
.icon--tree:before {
  content: "\e9bc";
}
.icon--menu:before {
  content: "\e9bd";
}
.icon--menu2:before {
  content: "\e9be";
}
.icon--menu3:before {
  content: "\e9bf";
}
.icon--menu4:before {
  content: "\e9c0";
}
.icon--cloud:before {
  content: "\e9c1";
}
.icon--cloud-download:before {
  content: "\e9c2";
}
.icon--cloud-upload:before {
  content: "\e9c3";
}
.icon--cloud-check:before {
  content: "\e9c4";
}
.icon--download2:before {
  content: "\e9c5";
}
.icon--upload2:before {
  content: "\e9c6";
}
.icon--download3:before {
  content: "\e9c7";
}
.icon--upload3:before {
  content: "\e9c8";
}
.icon--sphere:before {
  content: "\e9c9";
}
.icon--earth:before {
  content: "\e9ca";
}
.icon--link:before {
  content: "\e9cb";
}
.icon--flag:before {
  content: "\e9cc";
}
.icon--attachment:before {
  content: "\e9cd";
}
.icon--eye:before {
  content: "\e9ce";
}
.icon--eye-plus:before {
  content: "\e9cf";
}
.icon--eye-minus:before {
  content: "\e9d0";
}
.icon--eye-blocked:before {
  content: "\e9d1";
}
.icon--bookmark:before {
  content: "\e9d2";
}
.icon--bookmarks:before {
  content: "\e9d3";
}
.icon--sun:before {
  content: "\e9d4";
}
.icon--contrast:before {
  content: "\e9d5";
}
.icon--brightness-contrast:before {
  content: "\e9d6";
}
.icon--star-empty:before {
  content: "\e9d7";
}
.icon--star-half:before {
  content: "\e9d8";
}
.icon--star-full:before {
  content: "\e9d9";
}
.icon--heart-broken:before {
  content: "\e9db";
}
.icon--man:before {
  content: "\e9dc";
}
.icon--woman:before {
  content: "\e9dd";
}
.icon--man-woman:before {
  content: "\e9de";
}
.icon--happy:before {
  content: "\e9df";
}
.icon--plus:before {
  content: "\ea0a";
}
.icon--minus:before {
  content: "\ea0b";
}
.icon--cross:before {
  content: "\ea0f";
}
.icon--checkmark:before {
  content: "\ea10";
}
.icon--enter:before {
  content: "\ea13";
}
.icon--exit:before {
  content: "\ea14";
}
.icon--arrow-up-left2:before {
  content: "\ea39";
}
.icon--arrow-up2:before {
  content: "\ea3a";
}
.icon--arrow-up-right2:before {
  content: "\ea3b";
}
.icon--arrow-right2:before {
  content: "\ea3c";
}
.icon--arrow-down-right2:before {
  content: "\ea3d";
}
.icon--arrow-down2:before {
  content: "\ea3e";
}
.icon--arrow-down-left2:before {
  content: "\ea3f";
}
.icon--arrow-left2:before {
  content: "\ea40";
}
.icon--circle-up:before {
  content: "\ea41";
}
.icon--circle-right:before {
  content: "\ea42";
}
.icon--circle-down:before {
  content: "\ea43";
}
.icon--circle-left:before {
  content: "\ea44";
}
.icon--share:before {
  content: "\ea7d";
}
.icon--google-plus:before {
  content: "\ea89";
}
.icon--facebook:before {
  content: "\ea8d";
}
.icon--instagram:before {
  content: "\ea90";
}
.icon--twitter:before {
  content: "\ea91";
}
.icon--youtube:before {
  content: "\ea99";
}
button.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
.btn,
.contact-form input[type='submit'] {
  display: inline-block;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  height: 3.4375em;
  line-height: 3.4375em;
  padding: 0 2em;
  background-color: #f5f5f0;
  font-size: 0.9375em;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;
}
.btn:focus,
.contact-form input[type='submit']:focus,
.btn:hover,
.contact-form input[type='submit']:hover {
  background-color: #e8e8e8;
  text-decoration: none;
}
.btn:active,
.contact-form input[type='submit']:active {
  background-color: #e0e0e0;
}
.btn--small {
  font-size: 0.875em;
}
.btn--clear {
  color: #c2c2c2;
  background-color: transparent;
}
.btn--clear:focus,
.btn--clear:hover {
  color: #949494;
  background-color: transparent;
}
.btn--clear:active {
  background-color: transparent;
}
.btn--primary,
.contact-form input[type='submit'] {
  color: #fff;
  background-color: #4dc1b3;
}
.btn--primary:focus,
.contact-form input[type='submit']:focus,
.btn--primary:hover,
.contact-form input[type='submit']:hover {
  color: #fff;
  background-color: #3fb4a6;
}
.btn--primary:active,
.contact-form input[type='submit']:active {
  background-color: #38a094;
}
.animation,
.animation--bounce,
.media-blocks--links .media-block:hover .media-block__title:after,
.content-grid__item:hover .content-grid__item__content:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animation--bounce,
.media-blocks--links .media-block:hover .media-block__title:after,
.content-grid__item:hover .content-grid__item__content:after {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  60% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}
.main-header {
  position: relative;
  z-index: 5;
  border-bottom: 2px solid #f5f5f0;
  background-color: #fff;
}
.main-header__logo {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  display: block;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/logo.png");
  margin-bottom: 2em;
  margin: 29px 0;
  width: 240px;
  height: 23px;
  -webkit-background-size: 240px;
  background-size: 240px;
  background-size: 330px;
  width: 330px;
  height: 32px;
  margin: 29px auto 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .main-header__logo {
    background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/logo@2x.png");
  }
}
.main-nav {
  text-align: center;
}
.main-nav__item {
  position: relative;
  display: block;
  min-width: 70px;
  margin: 0 -20px;
  display: inline-block;
  margin: 0;
}
.main-nav__item .main-nav__item__link {
  display: block;
  padding: 20px;
  line-height: 1;
  color: #666;
  -webkit-transition: 0.05s color ease-in;
  transition: 0.05s color ease-in;
  cursor: pointer;
}
.main-nav__item .main-nav__item__link:hover {
  text-decoration: none;
}
.main-nav__item:after {
  position: absolute;
  content: '';
  height: 0;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  bottom: -2px;
}
.main-nav__item:hover > .main-nav__item__link {
  color: #949494;
}
.main-nav__item:hover:after {
  background-color: #f5f5f0;
}
.main-nav__item.main-nav__item--active > .main-nav__item__link {
  background-color: #4dc1b3;
  color: #fff;
}
.main-nav__item.main-nav__item--dropdown-open {
  background-color: #f5f5f0;
  font-weight: 600;
  font-weight: inherit;
  background-color: transparent;
}
.main-nav__item.main-nav__item--dropdown-open:after {
  background-color: #f5f5f0;
  height: 10px;
}
.main-nav__item > .main-nav__item__link {
  padding: 37px 25px;
}
.main-nav__item:after {
  height: 5px;
}
.main-nav__item.main-nav__item--active > .main-nav__item__link {
  background-color: transparent;
  color: #4dc1b3;
}
.main-nav__item.main-nav__item--active:after {
  background-color: #4dc1b3;
}
.main-nav__dropdown {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 100%;
  margin-top: 2px;
}
.main-nav__dropdown__item {
  display: block;
  margin: 0;
  list-style: none;
}
.main-nav__dropdown__item a {
  padding: 10px;
  display: block;
  color: #666;
  background-color: #f5f5f0;
}
.main-nav__dropdown__item:hover a,
.main-nav__dropdown__item.main-nav__dropdown__item--active a {
  text-decoration: none;
  background-color: #e0e0e0;
}
.main-nav__item--search {
  position: relative;
  display: block;
  margin: 0 -20px;
  padding: 10px 0;
  background-color: #f5f5f0;
  min-height: 72px;
  background-color: transparent;
  display: inline-block;
}
.main-nav__search__toggle {
  display: none;
  padding: 16px;
  margin-left: 20px;
  color: #c2c2c2;
  cursor: pointer;
  display: block;
}
.main-nav__search__toggle:before,
.main-nav__search__toggle:after {
  content: "";
  display: table;
}
.main-nav__search__toggle:after {
  clear: both;
}
.main-nav__search__toggle:hover {
  color: #949494;
}
.main-nav__search__toggle .icon {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
}
.main-nav__search__toggle span {
  display: inline-block;
  line-height: 1;
  display: none;
}
.main-nav__search__toggle .icon--cross {
  display: none;
}
.main-nav__search__toggle.main-nav__item--dropdown-open .icon--search {
  display: none;
}
.main-nav__search__toggle.main-nav__item--dropdown-open .icon--cross {
  display: block;
}
.main-nav__search {
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  display: none;
}
.main-nav__search__close {
  display: none;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 25px;
  margin-right: 30px;
  font-size: 24px;
}
.main-nav__search__input {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  width: auto;
  min-width: 245px;
  min-width: 345px;
  min-width: 445px;
}
.main-header__search {
  display: none;
  display: block;
}
.main-nav__search__submit {
  display: inline-block;
  font-size: 20px;
  padding: 0 0 0 15px;
  line-height: 2;
  height: 2em;
  margin-top: -5px;
}
.main-header__search__input {
  padding: 20px;
}
.main-header__search__submit {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 1.25em;
  padding: 1em;
  line-height: 1em;
  height: 62px;
}
.main-nav__mobile-toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  background-color: transparent;
  font-size: 23px;
  line-height: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  color: #666;
  top: 26px;
  display: none;
}
.main-nav__mobile-toggle:hover {
  color: #858585;
}
.main-nav__mobile-toggle span {
  position: relative;
  top: -2px;
  display: inline-block;
  font-size: 0.875em;
  margin-left: 7px;
}
.main-nav__items {
  display: none;
  display: block;
}
.main-nav__items--open .main-nav__items {
  display: block;
}
.main-nav__mobile-toggle__icon--close {
  display: none;
}
.main-nav__items--open .main-nav__mobile-toggle__icon--close {
  display: inline-block;
}
.main-nav__items--open .main-nav__mobile-toggle__icon--open {
  display: none;
}
.main-footer__navs {
  padding: 20px 30px 110px;
  background-color: #f5f5f0;
  margin: 0 -20px;
  padding: 40px 50px 110px;
}
.main-footer__nav__item,
.main-footer__title {
  margin: 0;
  color: #a5a5a3;
  list-style: none;
}
.main-footer__nav__item a,
.main-footer__title a {
  color: inherit;
}
.main-footer__title {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 2em;
  margin-top: 0;
}
.main-footer__nav__item {
  margin-bottom: 3px;
}
.main-footer__contact__item {
  margin-bottom: 7px;
}
.main-footer__contact__item {
  float: left;
  clear: both;
  color: #a5a5a3;
}
.main-footer__contact__item .icon {
  display: inline-block;
  width: 16px;
  position: relative;
  margin-right: 8px;
  top: 1px;
}
.main-footer__contact__item:hover {
  text-decoration: none;
}
.main-footer__contact__item:hover span {
  text-decoration: underline;
}
.main-footer__social {
  float: left;
  clear: both;
  margin-top: 30px;
}
.main-footer__social:before,
.main-footer__social:after {
  content: "";
  display: table;
}
.main-footer__social:after {
  clear: both;
}
.main-footer__social__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  color: #949494;
}
.main-footer__social__item .icon {
  font-size: 40px;
}
.main-footer__social__item span {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}
.main-footer__social__item:hover {
  color: #a3a3a3;
  text-decoration: none;
}
.main-footer__copyright {
  padding: 70px 0;
  background-color: #4d4d4d;
}
.main-footer__logo {
  width: 250px;
  height: 25px;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/logo-inverted.png");
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .main-footer__logo {
    background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/logo-inverted@2x.png");
    -webkit-background-size: 250px;
    background-size: 250px;
    height: 25px;
  }
}
.main-footer__copyright__info {
  padding: 20px 50px 0;
  color: #c2c2c2;
  font-size: 0.9375em;
  text-align: center;
  text-align: left;
  margin: 0 -20px;
  padding-right: 30%;
}
.section {
  padding: 50px 0;
}
.section:first-child {
  padding-top: 0;
  padding-top: 0;
}
.section--dark {
  background-color: #666;
}
.section--grey {
  background-color: #f5f5f0;
}
.section--primary {
  background-color: #4dc1b3;
}
.main-header__dropdown {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 100%;
  padding: 10px 0;
  background-color: #666;
  background-color: #f5f5f0;
}
.main-header__dropdown > .centering {
  position: relative;
}
.main-nav__dropdown__item {
  text-align: left;
  text-align: center;
}
.modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  background-color: rgba(55,58,71,0.9);
}
.modal-content {
  position: relative;
  margin: 0 auto;
  background-color: #f5f5f0;
  width: 850px;
  max-width: 90%;
  max-height: 75%;
  overflow: scroll;
}
.modal-content:before,
.modal-content:after {
  content: "";
  display: table;
}
.modal-content:after {
  clear: both;
}
.modal-title {
  font-size: 1.85em;
  border-bottom: 2px solid #e2e2d3;
  padding-bottom: 6px;
  margin-bottom: 18px;
}
.modal-controls {
  text-align: right;
}
.modal-controls .btn + .btn {
  margin-left: 10px;
}
.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 8px 0px 9px;
  background-color: #ceceb6;
  font-size: 20px;
  color: #74744e;
}
.modal__close:hover {
  cursor: pointer;
  background-color: #c5c5a7;
}
.notification .modal__close {
  top: -56px;
  padding: 0.5em 0.85em;
}
.notification--warning .modal__close {
  background-color: #e6b682;
  color: #a26421;
}
.notification--warning .modal__close:hover {
  background-color: #e2aa6f;
}
.notification--notice .modal__close {
  background-color: #8bbcd6;
  color: #316c8b;
}
.notification--notice .modal__close:hover {
  background-color: #79b2d0;
}
.notification--success .modal__close {
  background-color: #c4d68b;
  color: #758b31;
}
.notification--success .modal__close:hover {
  background-color: #bbd07a;
}
.media-block,
.team-member {
  margin-bottom: 40px;
}
.media-block__image,
.team-member__photo {
  margin-bottom: 15px;
}
.media-block__title,
.team-member__name {
  color: #4d4d4d;
  font-size: 1.0625em;
  line-height: 1.2;
}
.media-block__subtitle,
.team-member__position {
  margin-top: 7px;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d;
}
.media-blocks--links .media-block {
  display: block;
  text-align: left;
  margin-top: 40px;
}
.media-blocks--links .media-block:hover {
  text-decoration: none;
}
.media-blocks--links .media-block:hover .media-block__title {
  background-color: #304044;
  color: #fff;
}
.media-blocks--links .media-block:hover .media-block__title:after {
  color: #fff;
}
.media-blocks--links .media-block__image {
  margin-bottom: 0;
}
.media-blocks--links .media-block__title {
  position: relative;
  background-color: #f5f5f0;
  padding: 25px;
  font-size: 1.25em;
}
.media-blocks--links .media-block__title:after {
  position: absolute;
  font-family: 'wv-icons';
  content: '\ea3c';
  right: 25px;
  top: 24px;
  font-size: 20px;
  color: #b3b3b3;
}
.section--link-block + .section--link-block {
  padding-top: 0;
}
.link-block__link {
  display: block;
  padding: 1.625em 0;
  margin-bottom: 1em;
  border: 3px solid #f5f5f0;
  line-height: 1;
  color: #949494;
  font-size: 1.125em;
  text-align: center;
  padding: 2.1em 0;
  margin-bottom: 0;
}
.link-block__link:after {
  position: relative;
  top: 3px;
  margin-left: 20px;
  font-family: 'wv-icons';
  content: '\ea3c';
  color: #d1d1d1;
}
.link-block__link:hover {
  text-decoration: none;
  border-color: #e0e0e0;
  color: #757575;
}
.link-block__link:hover:after {
  color: #b3b3b3;
}
.link-block__link--down {
  padding: 1em 0;
  padding: 1.3em 0;
}
.link-block__link--down:after {
  display: block;
  font-size: 1.125em;
  margin-top: 10px;
  margin-left: 0;
  content: "\ea43";
}
.jumbo {
  margin-bottom: 50px;
  position: relative;
  padding: 190px 0 80px;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/jumbo-bg.jpg");
  background-color: #f5f5f0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.jumbo.jumbo--no-bottom {
  margin-bottom: 0;
}
.jumbo:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
.jumbo > * {
  position: relative;
  z-index: 2;
}
.jumbo h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 3.125em;
  font-size: 4.375em;
}
.jumbo p {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-size: 1.5625em;
  font-size: 1.875em;
}
.jumbo--sundays {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/sundays.jpg");
}
.jumbo--newcomers {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/newcomers.jpg");
}
.jumbo--vision {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/vision.jpg");
}
.jumbo--youth {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/youth.jpg");
}
.jumbo--families {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/families.jpg");
}
.jumbo--seniors {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/seniors.jpg");
}
.jumbo--students-and-20s {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/students-and-20s.jpg");
}
.jumbo--growbaby {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/growbaby.jpg");
}
.jumbo--our-vision {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/jumbo/our-vision.jpg");
}
.content-block {
  position: relative;
  padding: 40px 20px;
  padding: 40px;
}
.content-block p {
  font-size: 1.1875em;
}
.section--medium .content-block p {
  line-height: 1.75;
}
.content-block > p:last-child {
  margin-bottom: 0;
}
.content-block + .content-block {
  margin-top: 50px;
}
.content-block--small {
  font-size: 12.8px;
}
.content-block--medium {
  font-size: 19.2px;
  padding: 20px 0;
  font-size: 22.4px;
}
.content-block--large {
  font-size: 24px;
  padding: 50px 0;
  font-size: 32px;
}
.content-block__quotemark {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  top: -9px;
  -webkit-background-size: 22px;
  background-size: 22px;
  width: 32px;
  height: 28px;
  top: -10px;
  -webkit-background-size: 32px;
  background-size: 32px;
}
.content-block__quotemark--open {
  margin-right: 10px;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/quotemark.png");
}
.content-block__quotemark--close {
  margin-left: 10px;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/quotemark-close.png");
}
.content-block__title {
  margin: 0 0 30px;
}
.content-block__subtitle {
  font-size: 1.1875em;
  font-weight: 600;
  margin: 0 0 0.2em;
}
.content-block__buttons {
  margin-top: 35px;
}
.content-block__buttons .btn > i {
  margin-left: 10px;
}
.content-block--centered {
  text-align: center;
}
.content-block--centered .content-block__title:after {
  left: 50%;
  margin-left: -0.85em;
}
.content-block--grey {
  background-color: #f5f5f0;
}
.section--grey .content-block--grey {
  padding: 0;
}
.content-block--light {
  background-color: #fff;
}
.section--light .content-block--light {
  padding: 0;
}
.content-block--dark {
  background-color: #666;
  color: #fff;
}
.section--dark .content-block--dark {
  padding: 0;
}
.content-block--primary {
  background-color: #4dc1b3;
  color: #fff;
}
.section--primary .content-block--primary {
  padding: 0;
}
.content-grid {
  margin-bottom: 50px;
}
.content-grid > .centering {
  max-width: 1260px;
}
.content-grid .grid__item {
  overflow: hidden;
}
.content-grid__item {
  -webkit-transform-style: preserve-3d;
  position: relative;
  display: table;
  width: 100%;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.content-grid__item:hover {
  background-color: #304044;
}
.content-grid__item:hover {
  text-decoration: none;
}
.content-grid__item:hover .content-grid__item__content:after {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  -webkit-transition: opacity 1s 0.2s ease-in;
  transition: opacity 1s 0.2s ease-in;
}
.content-grid__item:hover .content-grid__item__background:before {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.content-grid__item:hover .content-grid__item__background:after {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
}
.content-grid__item--primary {
  background-color: #4dc1b3;
  color: #fff;
}
.content-grid__item--secondary {
  background-color: #304044;
  color: #fff;
}
.content-grid__item--secondary:hover {
  background-color: #666;
  color: #fff;
}
.content-grid__item--light {
  background-color: #f5f5f0;
  color: #666;
}
.content-grid__item--light:hover {
  color: #fff;
}
.content-grid__item__background,
.content-grid__item__content {
  height: 270px;
  height: -webkit-calc((100vh - 90px) / 3);
  height: calc((100vh - 90px) / 3);
}
.content-grid__item__content {
  position: relative;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  z-index: 2;
  padding: 30px;
  text-align: center;
  padding: 40px;
  color: #fff;
}
.content-grid__item__content:after {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  padding: 10px;
  content: '\ea3c';
  background-color: #f5f5f0;
  color: #666;
  font-family: 'wv-icons';
  font-size: 18px;
}
.content-grid__item__content hr {
  height: 0;
}
.content-grid__item__title {
  position: relative;
  font-family: 'Merriweather', 'Cambria', serif;
  padding-bottom: 0;
  line-height: 1;
  font-size: 1.875em;
  font-size: 2.0625em;
}
.content-grid__item__subtitle {
  font-weight: 400;
  font-size: 1.0625em;
  font-weight: 300;
  font-size: 1.4375em;
}
.content-grid__item__background {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.content-grid__item__background:after {
  position: absolute;
  content: '';
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50,50,50,0.5);
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
}
.content-grid__item__background:before {
  position: absolute;
  z-index: 1;
  content: '';
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  -webkit-transition: 3s all ease-in-out;
  transition: 3s all ease-in-out;
}
.content-grid__item--newcomer .content-grid__item__background:before {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/home-grid/newcomer.jpg");
}
.content-grid__item--our-teams .content-grid__item__background:before {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/home-grid/our-teams.jpg");
}
.content-grid__item--get-connected .content-grid__item__background:before {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/home-grid/get-connected.jpg");
}
.content-grid__item--get-in-touch .content-grid__item__background:before {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/home-grid/get-in-touch.jpg");
}
.content-grid__item--vision .content-grid__item__background:before {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/home-grid/vision.jpg");
}
.content-grid__item--our-ministries .content-grid__item__background:before {
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/home-grid/our-ministries.jpg");
}
.content-grid__item--social {
  margin: 0 -1%;
  width: 102%;
}
.content-grid__item--social .content-grid__item__content {
  padding: 10px 20px;
}
.content-grid__item--social .content-grid__item__content:after {
  display: none;
}
.content-grid__item__media__social {
  font-size: 0.9375em;
}
.content-grid__item__media__social .icon {
  margin-right: 15px;
  font-size: 20px;
  vertical-align: middle;
}
.content-grid__item__media__image {
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.content-grid__item__media__author {
  font-weight: 400;
  font-size: 0.875em;
}
.content-grid__item__media__text {
  display: block;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 400;
}
.content-grid__item--social--wide .content-grid__item__content {
  padding: 0;
  width: 100%;
}
.content-grid__item--social--wide .content-grid__item__media__social {
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background-color: #4dc1b3;
  color: #fff;
}
.content-grid__item--social--wide .content-grid__item__media__image {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.content-grid__item--social--wide:hover .content-grid__item__media__social {
  background-color: #304044;
}
.map {
  position: relative;
  background-color: #f5f5f0;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
.map .content-block {
  background-color: #f5f5f0;
}
.map .map__container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.map .centering {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.map .content-block {
  margin: 40px 0 40px 50%;
  width: 50%;
  pointer-events: all;
  background-color: #fff;
}
.map__container {
  position: relative;
}
.map__element {
  min-height: 300px;
  height: 100%;
}
.map__directions {
  display: none;
}
.map__directions__field {
  position: relative;
}
.map__directions__address {
  text-transform: uppercase;
  line-height: 55px;
  font-size: 17px;
  padding: 10px 70px 10px 25px;
}
.map__directions__button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 75px;
  height: 85px;
}
.map__directions__button i {
  font-size: 23px;
}
.map__directions__close {
  margin-top: 2em;
}
.map__directions__close i {
  margin-right: 10px;
}
.team {
  margin-top: 60px;
}
.content-block .team {
  margin-top: 0;
}
.h2 + .team {
  margin-top: -30px;
}
.content-block .team-member {
  margin-top: 30px;
  margin-bottom: 0;
}
.team-member--square .team-member__name {
  max-width: 80%;
  font-size: 0.9375em;
}
.jumbo + .section--welcome {
  margin-top: 50px;
}
.team-welcome {
  background-color: #f5f5f0;
}
.team-welcome .team-member__position {
  margin-top: 9px;
  color: #949494;
}
.team-welcome__photo {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  height: 290px;
  width: 100%;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/team/pastors.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.team-welcome__message {
  padding: 7% 25px 5%;
  text-align: center;
}
.team-welcome__message p {
  margin-bottom: 30px;
  font-size: 1.125em;
  font-weight: 300;
}
.team-welcome__message p:first-child {
  margin-bottom: 1em;
}
.team-welcome__signature {
  margin: 0 auto;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  width: 220px;
  height: 21px;
  background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/team/welcome-signature.png");
  -webkit-background-size: 220px;
  background-size: 220px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .team-welcome__signature {
    height: 20px;
    background-image: url("/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/wp-content/themes/wokinghamvineyard/static/images/content/team/welcome-signature@2x.png");
  }
}
.four-oh-four {
  margin: 50px 0;
  text-align: center;
  margin: 100px 0;
}
.four-oh-four .link-block {
  margin-top: 2em;
  margin-top: 5em;
}
.four-oh-four__title {
  font-size: 70px;
  font-size: 100px;
  line-height: 1;
}
.four-oh-four__subtitle {
  font-size: 20px;
  margin-top: 1em;
  margin-top: 0;
  font-size: 26px;
}
.search-result {
  display: block;
  margin-bottom: 30px;
  color: #4d4d4d;
  border: 5px solid #f5f5f0;
  padding: 20px;
}
.search-result:hover {
  text-decoration: none;
  border-color: #a6a6a6;
}
.search-result:hover .search-result__type {
  background-color: #a6a6a6;
  color: #fff;
}
.search-result p {
  margin: 10px 0 0;
  font-size: 1em;
}
.search-result__page {
  font-size: 1.375em;
}
.search-result__type {
  display: block;
  margin: -20px -20px 20px;
  padding: 10px 20px;
  background-color: #f5f5f0;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #828282;
}
.contact-form {
  background-color: #f5f5f0;
  padding: 30px;
  margin-bottom: 50px;
}
.contact-form div {
  margin-top: 20px;
}
.contact-form div:first-child {
  margin-top: 0;
}
.contact-form div label {
  margin-bottom: 6px;
}
.contact-form input[type='submit'] {
  width: auto;
}
.contact-form .contact-submit {
  margin: 50px 0 0;
}
[id^="contact-form"] > h3 {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #edf2db;
  color: #869f38;
}
[id^="contact-form"] > h3 a {
  color: #64772a;
}
.form-error {
  padding: 30px;
  margin-bottom: 20px;
  background-color: #f3dbdb;
}
.form-error h3,
.form-error .form-error-message {
  color: #a03838 !important;
  margin-bottom: 0;
}
.form-error h3 {
  font-weight: 600;
}
